<footer class="site-footer h-card">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col">
                <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>
            </div>
            <div class="footer-col">
                <a href="https://www.unibo.it/sitoweb/stefano.zingaro" target="_blank">Official home page</a>
            </div>
            <div class="footer-col">
                <a href="//www.cs.unibo.it/projects/privacy/nocookie/privacy.pdf" target="_blank">Privacy policy</a>
            </div>
        </div>
    </div>
</footer>
